meta {
    -theme-interface-style: light;
    /* -theme-vibrancy: vibrant; */
    /* -theme-accent-color: auto; */
}


meta.document {
    background-color: #F7F7F7;
}

meta.text {
    color: #000000;
}

meta.text.selected {
    color: #BFDBFE;
}

meta.cursor {
    background-color: #F0F0F0;
}

comment {
    color: #AA3731;
}

bracket {
    color: #777;
}

operator {
    color: #777;
}

invalid {
    background-color: rgba(170, 55, 49, 0.2);
    color: #AA3731;
}

value,
identifier.constant {
    color: #7A3E9D;
}

identifier.global,
identifier.variable {
    color: #325CC0;
}

string {
    color: #448C27;
}

string.escape {
    color: #777;
}

markup.heading {
    color: #325CC0;
}

markup.code,
markup.code-block {
    background-color: #F0F0F0;
}
